body{
    margin: 0; 
    padding: 0; 
    background-color: #FFFFFF;
    
}

#header{
    position: fixed;
    width: 100vw;
    height: 130px;

    background-color: #FFFFFF;
    display: flex; 
    justify-content: space-between;

}

/* mobile */



/* mobile header */

.header-logo img{
    margin-top: 10px;
    max-width: 200px;
    height: auto;
}


#header ul{
    list-style: none;
    line-height: 2em;
}


.nav-link{
    text-decoration: none;
    margin-right: 1em;
    color: rgb(14, 13, 13);
    font-weight: 500;
}



.nav-link:hover{
    color: #B1A18A;
}


.desktop-logo{
    display: none; 
    width: 100%;
    height: auto;
}




/* mobiiel watch video  */

.watch-video{
    padding-top: 140px; /* padding 140px due to fixed position (out of doc flow) of the header being 130px */
    text-align: center;
    padding-bottom: 0.8em;
}

.watch-video p{
    line-height: 1.8em;
}

.watch-video iframe{
    width: 100%;
    border: none;
}


#long-content{
    display: none;
}


/* mobile available-watches */

.available-watches{
    margin: 1em;
}

.available-watches h2{
    text-align: center;
    color: #B1A18A;
}

.available-watchs-img{
    width: 100%;
}

.available-watches div{

    border-radius: 5px;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    
}

.watch-list div{
    background-color: #FAFAFA;
}

.available-watches p{
    line-height: 1.8em;
}


.available-watches h3{
    color: #B1A18A;
}
.available-watches button, #form input:not(:first-child){
    padding: 0.5em;
    border: none;
    background-color: #B1A18B;
    color: white;
    font-size: 1.1em;
}



/* mobile email-signup */

.email-signup{
    display: flex; 
    justify-content: center;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    padding-bottom: 2em;
    color: #B1A18A;
}

#form input:first-child{
    box-sizing: border-box;
    width: 100%;
    padding: 1em
}

#form input:not(:first-child){
    margin-top: 1em;
    font-size: 1.1em;
}



/* mobile footer */
footer{
    background-color:  #FAFAFA;
    text-align: center;
    font-weight: 700;
    color: #B1A18A;
    padding-bottom: 1em;
}







@media only screen and (min-width: 460px){
    #nav-bar ul{
        display: flex;
    }

}




@media only screen and (min-width: 500px){


    .watch-list{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
    .yt-vid-holder{
        display: flex; 
        align-items: center;
    }

    .about-content{
        text-align: left;
        margin: 2em;
    }

    
}


@media only screen and (min-width: 780px){
      #long-content{
        display: block;
    }
    
}


@media only screen and (min-width: 660px){

    #nav-bar ul{
        font-size: 1.3em;
    }

    .header-logo img{
        margin-left: 20px;
    }

    #nav-bar{
        margin-right: 20px;
    }

    .watch-list{
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;
        row-gap: 2em;
    }

    .watch-one{
        grid-column: 2;
        grid-row: 1;
    }

    .watch-video{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin-left: 2em;
    }
}